<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a (click)="showArticleList(); hideTemplateForm(); hideReactiveForm();" class="nav-link active"
                        aria-current="page" href="#">Inicio</a>
                </li>
                <li class="nav-item">
                    <a (click)="hideArticleList(); showTemplateForm(); hideReactiveForm();" class="nav-link"
                        href="#">Nuevo artículo
                        template</a>
                </li>
                <li class="nav-item">
                    <a (click)="hideArticleList(); hideTemplateForm(); showReactiveForm();" class="nav-link"
                        href="#">Nuevo artículo
                        reactivo</a>
                </li>
            </ul>
        </div>
    </div>
</nav>